<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository>/home/scandinave/Développement/Project/deno/drone-mvn-private</localRepository>
  
<servers>
<server>
<id>releases</id>
<username>drone</username>
<password>QntxY7d59nf8QfdBA-z98Z7S5AJBg3</password>
</server>
<server>
<id>snapshots</id>
<username>drone</username>
<password>QntxY7d59nf8QfdBA-z98Z7S5AJBg3</password>
</server>
</servers>

  
<profiles>
<profile>
<id>CI</id>

<repositories>
<repository>
<id>private</id>
<name>PrivateRepo</name>
<releases>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</releases>
<snapshots>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</snapshots>
<url>https://lib.kube.techland.info/repository/maven-public</url>
<layout>default</layout>
</repository>
</repositories>


<pluginRepositories>
<pluginRepository>
<id>private</id>
<name>PrivateRepo</name>
<releases>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</releases>
<snapshots>
<enabled>true</enabled>
<updatePolicy>always</updatePolicy>
<checksumPolicy>warn</checksumPolicy>
</snapshots>
<url>https://lib.kube.techland.info/repository/maven-public</url>
<layout>default</layout>
</pluginRepository>
</pluginRepositories>


<properties>
<altSnapshotDeploymentRepository>snapshots::https://lib.kube.techland.info/repository/maven-snapshots</altSnapshotDeploymentRepository>
<altReleaseDeploymentRepository>releases::https://lib.kube.techland.info/repository/maven-releases</altReleaseDeploymentRepository>
</properties>

</profile>
</profiles>

  
<activeProfiles>
<activeProfile>CI</activeProfile>
</activeProfiles>

</settings>
    